<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>家庭記帳本</title>
  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/show.css">

  <!-- include fontawesome stylesheets -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



</head>

<body>
  <!-- Optional JavaScript -->
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-light">
    <div class="navbar-left">

      <a class="fas fa-pen">家庭記帳本</a>
    </div>
  </nav>



  <!--       新增地區category -->
  <div id="head-right">

    <div id="category">
      <div class="form-group">
        <select class="form-control select-region">
          <option>類別All</option>

          <option value="live">家居物業</option>
          <option value="traffic">交通出行</option>
          <option value="play">休閒娛樂</option>
          <option value="eat">餐飲食品 </option>
          <option value="other">其他 </option>
        </select>
      </div>

      <h1>總金額:`${totalAmount}`</h1>



      <script src="/javascripts/jquery-3.3.1.js"></script>
      <script src="/javascripts/popper.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <main>
        {{{body}}}
      </main>

      <a class="btn btn-warning" href="/expense/new">新增支出
      </a>
</body>

</html>