<form action="/expense" method="POST" style="margin: 20px 20px;">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="name" name="name" required>
    </div>

  </div>

  <div class="col-md-4 mb-3">
    <label>date</label>
    <input type="text" class="form-control" placeholder="date" name="date">
  </div>


  <div class="col-md-4 mb-3">
    <label>amount</label>
    <input type="text" class="form-control" placeholder="amount" name="amount">
  </div>

  </div>

  <div class="form-group">
    <select class="custom-select" name="category" required>
      <option value="">Category menu</option>
      <option value="live">家居物業</option>
      <option value="traffic">交通出行</option>
      <option value="play">休閒娛樂</option>
      <option value="eat">餐飲食品 </option>
      <option value="other">其他 </option>
    </select>
  </div>

  <button type="submit" class="btn btn-info">Create</button>
  <a href="/" class="btn btn-info">Back</a>
</form>